@using HMS.Models
@model HMS.ViewModels.HajjHome
@{
    ViewBag.Title = "Comparehajjpackages";
    Layout = "~/Views/shared/_CompareHajj.Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("select").find("option[value='']").remove();
        $('.carousel').carousel({
            interval: 1200
        });


        $("#divposition1 .carousel-inner div").first().addClass("active");
        $("#divposition2 .carousel-inner div").first().addClass("active");
        $("#divposition3 .carousel-inner div").first().addClass("active");
        $("#divposition4 .carousel-inner div").first().addClass("active");
    })
</script>
<div class="row-fluid Search">
    @using (Html.BeginForm("SearchHotel", "Home"))
    {
        @Html.ValidationSummary(true)
        <div class="span8">
            <div class="row-fluid type">
                <label class="checkbox inline">
                    Select Package Type :
                </label>
                <label class="checkbox inline">
                    <input type="radio" name="PackageType" value="Hajj">
                    Hajj
                </label>
                <label class="checkbox inline">
                    <input type="radio" name="PackageType" value="Umrah">
                    Umrah
                </label>
            </div>
            <br>
            <div class="row-fluid marginLeft">
                <div class="span6">
                    <label>
                        From</label>
                    @Html.TextBoxFor(model => model.To, null, new { placeholder = "Select your destination", Value = "London Heathrow" })
                </div>
                <div class="span6">
                    <label>
                        Duration</label>
                    @Html.DropDownListFor(model => model.SelectedDuration, new SelectList(Model.Duration, "Id", "TotalDuration", Model.SelectedDuration), "", new {@class = "ClearBoth"})
                    @*<input type="text" placeholder="Type something…">*@
                </div>
            </div>
            <br />
            <div class="row-fluid marginLeft">
                <div class=" span12">
                    <div class="span6">
                        <label>
                            People per room</label>
                        @Html.DropDownListFor(model => model.SelectedRoomCapacity, new SelectList(Model.PeoplePerRoom, "Id", "RoomCapacity", Model.SelectedRoomCapacity), "", new {@class = "ClearBoth"})
                    </div>
                    <div class="span6">
                        <label>
                            Hotel class</label>
                        @Html.DropDownListFor(model => model.SelectedClass, new SelectList(Model.HotelClass, "Id", "Star", Model.SelectedClass), "", new { @class = "ClearBoth" })
                    </div>
                </div>
                <div class="rows">
                    <button><img class="RecentSearchIMG" src="../../Content/images/recentseacrh_btn.png" />Recent Search</button>
                    <button type="submit" class="btn-large btn-danger pull-right" style="margin-right: 15px">
                        Search<i class="icon-search"></i></button>
                </div>
            </div>
        </div>

    }
    <div class="span4">
        @*<img class="add1 IMGFullSize" src="../../Content/images/add.png" />*@
        @Model.position1
    </div>
</div>
<div class="row-fluid packege">
    <h3>
        Featured Packeges</h3>
    <hr />
    <div class="row-fluid">
        <div class="span9">
            <div class="row-fluid">
               @* @Model.PackageInfo*@
                @Html.Partial("~/Views/Package/PackageInfo.cshtml", Model.lstPackages)
            </div>
            <div class="row-fluid">
                <div class="span12 panel">
                    Register your interest for @System.DateTime.Now.ToString("yyyy") Hajj and Umrah
                    package
                </div>
            </div>
            <div class="row-fluid" style="margin-top: 20px">
                <div class="span4">
                    @*<img class="IMGFullSize" src="../../Content/images/add2.png" />*@
                    
                     @Model.position3
                </div>
                <div class="span3">
                    <h5>
                        About CHP</h5>
                    <hr />
                    <p style="text-align: justify">
                        it is a long established fact that a reader will be distracted by the readable content
                        of a page when looking at its layout. The point of using Lorem Ipsum is that it
                        has a more-or-less normal distribution of letters
                    </p>
                </div>
                <div class="span3">
                    <h5>
                        Free!</h5>
                    <hr />
                    <p style="text-align: justify">
                        Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                        default model text, and a search for 'lorem ipsum' will uncover many web sites still
                        in their infancy.</p>
                </div>
                <div class="span2">
                    @*<img class="IMGFullSize" src="../../Content/images/add3.png" />*@
                     @Model.position4
                </div>
            </div>
        </div>
        <div class="span3">
            @*<img class="IMGFullSize" src="../../Content/images/add1.png" />*@
            @Model.position2
        </div>
    </div>
</div>
<div id="test" class="row-fluid">
</div>
