@model IEnumerable<HMS.Entities.Models.EventsType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_CompareHajj.Layout.Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventsTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventsTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventsTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventsTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventsTypeId })
        </td>
    </tr>
}

</table>
