
@using MvcPaging
@model IPagedList<HMS.Entities.Models.QuestionAnswer>
@{
    ViewBag.Title = "News";
    Layout = "~/Views/shared/_CompareHajj.Layout.Admin.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "QuestionAnswer", FormMethod.Get)) { 
<div class="row-fluid">
    <div class="span6 pull-left">
        <div class="input-append">
            <input type="text" class="form-control " id="searchItem" name="searchItem" placeholder="Question" value="@ViewData["searchItem"]">
            <button type="submit" class="btn">
                <i class="icon-search"></i>&nbsp;Search
            </button>
        </div>
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Question)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsVisible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsSelfInitiative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsFrequentAsk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AnswerDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)

            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.IsVisible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSelfInitiative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFrequentAsk)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AnswerDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success active" }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-success active" }) |

                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success active" })               
            </td>
        </tr>
    }

</table>
<div class="pager">
    @Html.Raw(Html.Pager(
            new Options
            {
                PageSize = Model.PageSize,
                TotalItemCount = Model.TotalItemCount,
                CurrentPage = Model.PageNumber,
                ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous" },
                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                TooltipTitles = new TooltipTitles() { Next = "Next page {0}", Previous = "Previous page {0}", Page = "Go to page {0}" },
                Size = Size.normal,
                Alignment = Alignment.centered,
                IsShowControls = true,
                IsShowFirstLast = true,
                IsShowPages = true
            }, new { searchItem = ViewData["searchItem"] }))
</div>
}