@model HMS.Entities.ViewModels.VmSchQuesAns
@{
    ViewBag.Title = "Ask The Scholar";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

@section MetaContent{
    <meta charset="UTF-8">
    <meta name="description" content="Frequently asked questions about hajj and umrah" />
    <meta name="Keywords" content="how hajj performed, is hajj compulsory, is hajj compulsory for every muslim, " />
    <meta name="author" content="comparehajjpackages.com">
}


<style type="text/css">
    #askthescholer {
        background-color: #D95902 !important;
    }

    #btnaskthescholer {
        background-color: #D95902 !important;
    }

    .panel {
        height: 150px;
    }

    .panesize {
        width: 276px;
    }

    /*.imgScholarFooter h4 {
        color: rgb(51, 51, 51);
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    .imgScholarFooter a p {
        font-size: 0.9em;
        font-style: normal;
        padding: 20px;
    }

    .imgScholarFooter a.a {
        background: url("../content/images/ats.png") no-repeat scroll 205px 117px rgb(255, 255, 255);
    }

    .imgScholarFooter a {
        border: 1px solid rgb(237, 237, 237);
        color: rgb(111, 111, 111);
        display: block;
        float: left;
        outline: medium none;
        overflow: hidden;
        width: 100%;
        text-decoration: none;
    }

        .imgScholarFooter a:hover {
            background: none repeat scroll 0 0 #996600;
            color: rgb(255, 255, 255) !important;
            transition: background-color 1s ease-out 0s;
        }

    .imgScholarFooterBlack a:hover {
        background: none repeat scroll 0 0 #000000;
        color: rgb(255, 255, 255) !important;
        transition: background-color 1s ease-out 0s;
    }

    .imgScholarFooterBlack a {
        border: 1px solid rgb(237, 237, 237);
        color: rgb(111, 111, 111);
        display: block;
        float: left;
        outline: medium none;
        overflow: hidden;
        width: 100%;
        text-decoration: none;
    }

    .imgScholarFooterBlack h4 {
        color: rgb(51, 51, 51);
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    .imgScholarFooterBlack a p {
        font-size: 0.9em;
        font-style: normal;
        padding: 20px;
    }

    .imgScholarFooter a.a:hover {
        background: url("../content/images/ats.png") no-repeat scroll 205px 117px #996600;
    }*/

    .eventborder {
        border: 1px solid #000000;
    }

    .backgroundcolor {
        background: #F8F8F8;
        margin-right: 20px;
    }

    .hr1 {
        border: 1px solid #0c0101;
    }

    .hr3 {
        border: 1px solid #0c0101;
        margin-right: 20px;
    }

    .hr2 {
        border: 1px solid #820000;
    }

    .footerbutton {
        height: 100px;
        margin-top: 20px;
        border-radius: 8px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .button {
        width: 50px;
        height: 50px;
        shape-rendering: optimizeQuality;
        border-style: dotted;
        background-color: #0c0101;
        font: 11;
        color: #ffd800;
    }

    #btnaskthescholer {
        background-color: #D95902 !important;
    }

    .list-group-item {
        background-color: #fff;
        border: 1px solid #f5efe0;
        display: block;
        font-size: 13px;
        font-weight: bold;
        padding: 10px 15px;
        position: relative;
    }

    li.list-group-item:hover {
        background: #7b3212 none repeat scroll 0 0 !important;
    }

    .background-fff9e8, .background-fff9e8 a.list-group-item {
        background-color: #fff9e8;
    }

    a.list-group-item:hover, a.list-group-item:focus {
        background-color: #996600 !important;
        color: #fff !important;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 0 1px 1px #000000;
    }

    a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
        background-color: #428bca;
        border-color: #428bca;
        color: #fff;
        z-index: 2;
    }

    a.list-group-item {
        color: #996600;
        display: flex;
        align-items: baseline;
        font-size: 1rem;
        transition: all 0.2s linear 0s;
    }
    a.list-group-item i {
        margin-right: 0.5rem;
    }

    a.list-group-item:hover {
        color: #f8eed2 !important;
        text-decoration: none;
        text-shadow: 0 1px 1px #000000;
    }

    .list-group {
        margin-bottom: 20px;
        padding-left: 0;
    }

    .fa {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
    }

    .button--primary--Events {
        background: #A37519;
        border-color: #005689;
        color: #fff;
        border-radius: 20px;
        width: 175px;
        height: 27px;
    }

    .button--medium {
        height: 1.875rem;
        line-height: 1.75rem;
        margin-right: 0.625rem;
        padding: 0 0.625rem;
        margin-top: 10px;
        height: 27px;
    }

    .button--primary {
        background-color: #005689;
        border-color: #005689;
        color: #fff;
        border-radius: 20px;
        width: 140px;
    }

    .button--show-more {
        padding-left: 2.375rem;
        position: relative;
    }

    #rcorners2 {
        border-radius: 20px;
        border: 1px solid #000000;
        padding: 6px;
        width: auto;
        /*height: 575px;*/
        background-color: #ffe6cc;
    }
    /*.btn-primary{
        background-color:#996600;
       background-image: linear-gradient(to bottom, #996600, #996600);

    }*/

    #vertical-ticker {
        /*height: 575px;*/
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

        #vertical-ticker li {
            padding: 25px 10px;
            display: block;
            background: #ffe6cc;
            color: #333;
            border-bottom: 1px solid #000000;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            font-family: Helvetica Ne2e, times, serif;
        }

    .imgStyle {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 100px;
        height: 100px;
    }

    .schStyle {
        color: #333;
        text-decoration-style: none;
    }
    #searchItem{
        width:400px;
    }
</style>
<script type="text/javascript">
    $(function () {
        $('#vertical-ticker').totemticker({
            row_height: '185px',
            next: '#ticker-next',
            previous: '#ticker-previous',
            stop: '#stop',
            start: '#start',
            mousestop: true,
        });
    });
</script>
@Html.Partial("_questionModal")
<div class="FAQ">
    <div class="row-fluid">
        <div class="backgroundcolor">
            <hr class="hr1">
            <div class="row-fluid">
                <div class="span12" style="float: left;">
                    <div class="row-fluid">
                        <h4>
                            Hajj & Umrah – Frequently Asked Questions
                        </h4>
                        <div style="margin-left:6px">
                            <div class="eventborder" style="margin-top: 5px">

                                @foreach (var item in Model.quesAns.FAQ)
                                {

                                    <a class="list-group-item" href="/QuestionAnswer/QuestionDetails/@item.Id">
                                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                                        @item.Question
                                    </a>

                                }

                            </div>
                            <div style="text-align:right">
                                <div style="text-align:right;margin-top:5px">
                                    <a class="btn btn-primary button--medium  button--primary--Events" href="~/QuestionAnswer/FrequentAskQuestion">More FAQs</a>
                                </div>
                            </div>
                            <hr class="hr2">
                            <div class="row-fluid">
                                <h4>
                                    Recently Added Questions
                                </h4>
                                <div class="eventborder" style="margin-top: 1px">
                                    @foreach (var item in Model.quesAns.RecentQuestionAnswersList)
                                    {

                                        <a class="list-group-item" href="/QuestionAnswer/QuestionDetails/@item.Id">
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                                            @item.Question
                                        </a>
                                    }
                                </div>
                            </div>
                            <div style="text-align:right">
                                <div style="text-align:right;margin-top:5px;">
                                    <a class="btn btn-primary button--medium  button--primary--Events" href="~/QuestionAnswer/RecentQuestionAnswers">More Questions</a>
                                </div>
                            </div>
                        </div>
                        <hr class="hr1">
                    </div>
                </div>


                @* scholar sliding off Comments for sharier bahi request*@

                @*<div class="span3" style="float: right;">
                    <div class="row-fluid">
                        <h4 style="text-align: center;">
                            Scholars
                        </h4>
                        <div id="rcorners2" style="margin: 5px">
                            <ul id="vertical-ticker">
                                @foreach (var item in Model.scholareList)
                                {
                                    <li>
                                       
                                        <img class="imgStyle" src="~/binaryObjects/GetBinaryObjectById?id=@item.ScholarId&objectTypeId=11"><br />
                                        <span><a class="schStyle" href="/QuestionAnswer/ScholarDetails/@item.ScholarId">@item.ScholarName</a></span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
        <div style="padding-right: 20px;">
            @Html.Partial("_question")
            </div>
        </div>
</div>
<hr class="hr3">


