@*@model IEnumerable<HMS.Models.Event>*@
@using System.Web.Optimization
@using MvcPaging
@model  HMS.Entities.ViewModels.newsEventVM
@{
    ViewBag.Title = "Haj & Umrah News & Events";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
@section MetaContent{
    <meta charset="UTF-8">
    <meta name="description" content=" Hajj and Umrah related news and events in your area and all around" />
    <meta name="Keywords" content=" Search hajj and umrah related news and events, hajj newsround, hajj latest news, hajj stampede, Hajj training, Hajj and Umrah events" />
    <meta name="author" content="comparehajjpackages.com">
}


<style type="text/css">



    #btnnewsevent {
        background-color: #D95902 !important;
    }
    .PASTEVENTSLINK a {
        color: black;
        font-weight: bold;
    }

    .upcoomingEvents a {
        color: #990000;
        font-weight: bold;
    }
    /*.btn-primary{
         background-color: #A37519;
         color:#A37519;
    }*/
    .button--primary--Events {
        background:  #0066cc;
        border-color: #0066cc;
        color: #fff;
        border-radius: 20px;
        height: 27px;
    }

    .button--medium {
        height: 1.875rem;
        line-height: 1.75rem;
        margin-right: 0.625rem;
        padding: 0 0.625rem;
        margin-top: 10px;
        height: 27px;
    }

    .button--primary {
        background-color: #005689;
        border-color: #005689;
        color: #fff;
        border-radius: 30px;
        width: 130px;
    }

    .button--show-more {
        padding-left: 2.375rem;
        position: relative;
    }

    .collection__show-more {
        font-size: 0.875rem;
        line-height: 2.2;
    }

    .hr2 {
        border: 1px solid;
    }

    .container {
        background-color: rgb(255, 255, 255);
    }

    .carousel-control {
        top: 50%;
    }

   

    .pre {
        /*background-color: rgb(245, 245, 245);*/
        padding-top: 10px;
        display: block;
        font-size: 15px;
        line-height: 20px;
        margin: 0 0 10px;
        word-break: normal; /*break-all;*/
        word-wrap: break-word;
    }

    .yourevent {
        background-color: #FFFFFF;
        border: 1px solid #81B7D9;
        margin-bottom: 10px;
    }

        .yourevent p {
            text-align: justify;
            margin: 10px;
        }

    .eventposition {
        margin-top: 50px;
    }

    .buttonwithimage {
        border: 0 none;
        border-radius: 10px;
        padding: 0;
        margin-bottom: 5px;
        background-color: #006699;
    }

    .control-group {
        margin-bottom: 0px;
    }

    .controls input[type="text"] {
        width: 120px;
        font-size: 13px;
    }

    input[type="text"] {
        font-size: 13px;
    }

    select {
        width: 135px;
        font-size: 13px;
    }

    .Eventtype {
        font-weight: bold;
    }

    .btnsearch {
        border: 0 none;
        padding: 0;
        margin-right: 5px;
    }

    .buttomAdd {
        height: 60px;
        border: 1px solid #DDD;
    }

    .AddEvent {
        margin-top: 10px;
    }

        .AddEvent img {
            height: 120px;
            width: 99%;
            border: 1px solid rgb(221, 221, 221);
        }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        width: 100%;
    }

    .subscribe {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
        text-align: justify;
    }

    .AddEvent p {
        margin-right: 15px;
    }

    .media {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
    }

    .eventobject {
        margin-bottom: 10px;
        padding-top: 0px;
    }

    .news img {
        height: 100px;
        width: 80px;
    }

    .addspace {
        width: 100%;
        height: 150px;
    }

    .events {
        margin-left: 5px;
    }

    .eventborder {
        border: 1px solid #DDD;
    }

    .eventHead {
        background-color: rgb(90, 90, 90);
        margin-bottom: 0;
        margin-top: 0;
        padding: 5px;
    }

    .stepPosition {
        position: absolute;
        margin-left: 0px;
        color: yellow;
        left: 10px;
        /* z-index: 10000; */
        top: 10px;
    }

    .calendar-small {
        float: left;
        display: block;
        margin-right: 15px;
        width: 65px;
        height: 65px;
        background-color: #f3f3f3;
    }

        .calendar-small .s-month {
            display: block;
            width: 100%;
            height: 22px;
            line-height: 22px;
            font-weight: 600;
            text-align: center;
            background-color: #86a97e;
            color: #fff;
        }

        .calendar-small .s-date {
            font-size: 16px;
            font-weight: 700;
            width: 100%;
            height: 25px;
            line-height: 28px;
            text-align: center;
            display: block;
            color: #666666;
            background-color: #B0C4DE;
        }

        .calendar-small .s-year {
            display: block;
            width: 100%;
            height: 20px;
            line-height: 22px;
            font-weight: 600;
            text-align: center;
            background-color: #86a97e;
            color: #fff;
        }

    #PastEvents .s-month {
        background-color: #8AB800;
    }

    #latestevents .s-month {
        background-color: #5C0000;
    }

    #latestevents {
        background-color: rgb(245, 245, 245);
        /*position:relative;*/
    }

    #PastEvents {
        background-color: rgb(245, 245, 245);
    }
</style>
<div class="clearfix">
</div>
<div style="width: 98%; margin-top: 10px; margin-left: 2%">
    <div class="row-fluid">
        <div class="span3">
            @{bool flag1 = false;
            <div class="row-fluid pre">
                <h4 style="margin-left: 5px; margin-top:0px; color:black">
                    UPCOMING EVENTS
                </h4>

                @if (@Model.EventsList.ToList().Count == 1)
                {
                    if (@Model.EventsList.ToList().FirstOrDefault().IsDefault == true)
                    {
                        flag1 = true;
                        <div class="row-fluid eventobject" id="latestevents">

                            <div class="span12">
                                <p style="font-size:large;text-align:center"> @Model.EventsList.ToList().FirstOrDefault().EventsTitle</p>
                            </div>
                        </div>
                    }
                }
                @if (!flag1)
                {


                    foreach (var item in Model.EventsList.ToList())
                    {


                        <div class="row-fluid eventobject" id="latestevents">
                            <div class="span4" style="margin-left: 0px">
                                <div id="fb-root"></div>

                                <div class="calendar-small">
                                    <span class="s-month">@item.EventsDate.ToString("MMM")</span>
                                    <span class="s-date">@item.EventsDate.Day</span>
                                    <span class="s-year">@item.EventsDate.Year</span>
                                </div>
                            </div>
                            <div class="span8 upcoomingEvents">
                                @if (@item.EventsTitle.Length > 20)
                                {


                                    @Html.ActionLink((@item.EventsTitle.Substring(0, 17)), "Details", "Events", new { id = item.EventsId }, null)<span>...</span><br />

                                }
                                else
                                {
                                    @Html.ActionLink(@item.EventsTitle, "Details", "Events", new { id = item.EventsId }, null)<br />
                                }

                                <span style="text-align:left"> @item.Venue</span><br />
                                <span style=""> @item.Address </span><br />
                            </div>
                        </div>
                    }
                }

                @if (!flag1)
                {
                    <div style="text-align:right">
                        <a class="btn  btn-primary button--medium  button--primary--Events " href="/Events/EventsList">More Events</a>
                    </div>
                }
            </div>
            }
            <hr class="hr2">
            <div class="row-fluid pre">
                @using (Html.BeginForm("Index", "newsAndEvents", FormMethod.Get))
                {
                    <div class="row-fluid">
                        <div class="span11 pull-right" style="margin-right: 15px;">
                            <p class="Eventtype">
                                SEARCH EVENTS NEAR YOUR AREA
                            </p>
                            <div class="control-group">
                                <div class="controls" style="text-align: right;">
                                    <span>Type:</span>
                                    @Html.DropDownListFor(model => model.EventsTypeId, new SelectList(Model.EventTypeList, "Key", "Value", Model.Events.EventsTypeId), "Please Select..", new { required = "required" })
                                    @Html.ValidationMessageFor(model => model.EventsTypeId)
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls" style="text-align: right;">
                                    <span>Postal:</span>
                                    <input type="text" id="txtPostalCode" name="PostCode" placeholder="Postal Code">
                                    @*@Html.EditorFor(x => x.Events.PostCode, new { placeholder = "Postal Code" })*@
                                </div>
                            </div>
                            <p class="text-right">
                                <button type="submit" class="btnsearch">
                                    <img class="imagesearch" src="../../Content/images/search-button.png" />
                                </button>
                            </p>
                        </div>
                    </div>

                }
            </div>
            <hr class="hr2">
            <div class="row-fluid pre" style="margin-top:0px;">
                <div>
                    <h4 style="margin-left: 5px;margin-top:0px;color:black">
                        PAST HAJJ & 'UMRAH EVENTS
                    </h4>

                    @foreach (var item in Model.LstArchiveEvent.ToList())
                    {
                        <div class="row-fluid eventobject" id="PastEvents">
                            <div class="span4" style="margin-left: 0px">


                                <div class="calendar-small">
                                    <span class="s-month">@item.EventsDate.ToString("MMM")</span>
                                    <span class="s-date">@item.EventsDate.Day</span>
                                    <span class="s-year">@item.EventsDate.Year</span>
                                </div>
                            </div>
                            <div class="span8 PASTEVENTSLINK">
                                @if (@item.EventsTitle.Length > 16)
                                {


                                    @Html.ActionLink((@item.EventsTitle.Substring(0, 15)), "Details", "Events", new { id = item.EventsId }, null)<span>...</span><br />

                                }
                                else
                                {
                                    @Html.ActionLink(@item.EventsTitle, "Details", "Events", new { id = item.EventsId }, null)<br />
                                }

                                @item.Venue<br />
                                @item.Address<br />
                            </div>
                        </div>

                    }
                </div>
                <div style="text-align:right">
                    <div style="text-align:right">
                        <a class="btn btn-primary button--medium  button--primary--Events" href="/Events/ArchiveEventsList">More Past Events</a>
                    </div>
                </div>
            </div>
            <div class="row-fluid pre">

                <hr class="hr2">
                <div class="media">
                    @using (Html.BeginForm("createFromClient", "Events", FormMethod.Get))
                    {
                        <div class="media-body">
                            <h4 class="media-heading" style="color: #006699">
                                Your Hajj & 'Umrah Event
                            </h4>
                            <p style="text-align:left">List your forthcoming events on<br> comparehajjpackages.com for the best responses. Listing service is absolutely free.</p>
                            <br />

                            <button class="buttonwithimage">

                                <img src="~/Content/images/listyour-eventbutton.png" align="right" style="border-radius: 10px;"
                                     alt="List your event">
                            </button>
                        </div>
                    }
                </div>



            </div>
        </div>
        <div class="span7 news">
            <h4>
                <span style="margin-left: 5px; color: #1605C6">HAJJ & 'UMRAH NEWS AND BLOGS</span>
            </h4>
            <div>
                @{bool flag2 = false;
                <div class="eventborder">

                    @if (@Model.LstNewses.ToList().Count == 1)
                    {
                        if (@Model.LstNewses.ToList().FirstOrDefault().IsDefault == true)
                        {
                            flag2 = true;
                            <div class="media eventobject">
                                <a href="#" class="pull-left">
                                    <img src="~/binaryObjects/GetBinaryObjectById?id=@Model.LstNewses.ToList().FirstOrDefault().NewsId&objectTypeId=7">
                                </a>
                                <div class="media-body">
                                    <p style="font-size:large"> @Model.LstNewses.ToList().FirstOrDefault().NewsTitle</p>
                                </div>
                            </div>
                        }
                    }
                    @if (!flag2)
                    {
                        foreach (var item in Model.LstNewses)
                        {
                            <div class="media eventobject">
                                <a href="#" class="pull-left">
                                    <img src="~/binaryObjects/GetBinaryObjectById?id=@item.NewsId&objectTypeId=7">
                                </a>

                                <div class="media-body">
                                    <h4 class="media-heading">
                                        @item.NewsTitle
                                    </h4>
                                    <p class="media-heading">
                                        <span>Source: @item.Source @item.SourceDate.Day @item.SourceDate.ToString("MMM") @item.SourceDate.Year</span>
                                    </p>
                                    @if (@item.Description.Length > 120)
                                    {
                                        @MvcHtmlString.Create(@item.Description.Substring(0, 100))<span>...</span>
                                    }
                                    else
                                    {
                                        @MvcHtmlString.Create(@item.Description)
                                    }
                                    @if (@item.NewsLink == null)
                                    {

                                        @Html.ActionLink("Read More", "DetailsForClient", "News", new { id = item.NewsId }, null)<br />
                                    }
                                    else
                                    {

                                        <a href=@item.NewsLink target="_blank">Read More </a>
                                    }

                                </div>
                            </div>
                        }

                    }
                </div>
                    if (!flag2)
                    {
                        <div style="text-align:right">
                            <div style="text-align:right">
                                <a class="btn btn-primary button--medium  button--primary" href="/News/LatestNewsList">More News</a>
                            </div>
                        </div>
                    }
                }
            </div>
            <div>
                <h4 style="margin-left: 5px; color: #1605C6">
                    ARCHIVE HAJJ & 'UMRAH NEWS AND BLOGS
                </h4>
                <div class="eventborder">




                    @foreach (var item in Model.LstArchiveNews)
                    {
                        <div class="media eventobject">
                            <a href="#" class="pull-left">
                                <img src="~/binaryObjects/GetBinaryObjectById?id=@item.NewsId&objectTypeId=7">

                            </a>

                            <div class="media-body">
                                <h4 class="media-heading">
                                    @item.NewsTitle
                                </h4>
                                <p class="media-heading">
                                    <span>Source: @item.Source @item.SourceDate.Day @item.SourceDate.ToString("MMM") @item.SourceDate.Year</span>
                                </p>
                                @if (@item.Description.Length > 120)
                                {
                                    @MvcHtmlString.Create(@item.Description.Substring(0, 120))<span>...</span>
                                }
                                else
                                {
                                    @MvcHtmlString.Create(@item.Description)
                                }

                                @if (@item.NewsLink == null)
                                {

                                    @Html.ActionLink("News Details", "DetailsForClient", "News", new { id = item.NewsId }, null)<br />
                                }
                                else
                                {
                                    <a href=@item.NewsLink target="_blank">Read More</a>

                                }

                            </div>
                        </div>
                    }


                </div>
                <div style="text-align:right">
                    <a class="btn btn-primary button--medium  button--primary" href="/News/ArchiveNewsList">More Archive News</a>

                </div>
            </div>
        </div>
        <div class="span2">
            <img style="width: 93%" src="../../Content/images/Add3NewsEvent.jpg" />
            @*<a href="http://customer.heartinternet.uk/aff.cgi?entry=/vn_4c02CfjBHhVrA/OPbg&landing=web_hosting" target="_blank">
            <img src="http://customer.heartinternet.uk/images/affiliate-banners/hosting/160x600_design_create.jpg" />
            </a>*@
        </div>

    </div>
    @*<div class="row-fluid" style="margin-top: 10px; margin-bottom: 10px">
            <div class="span3">
                <img class="addspace" src="../../Content/images/Add1NewsEvent.jpg" />
            </div>
            <div class="span7 ">
                <img class="addspace" src="../../Content/images/Add2NewsEvent.jpg" />
            </div>
        </div>*<div class="row-fluid" style="margin-top: 10px; margin-bottom: 10px">
            <div class="span3">
                <img class="addspace" src="../../Content/images/Add1NewsEvent.jpg" />
            </div>
            <div class="span7 ">
                <img class="addspace" src="../../Content/images/Add2NewsEvent.jpg" />
            </div>
        </div><div class="row-fluid" style="margin-top: 10px; margin-bottom: 10px">
            <div class="span3">
                <img class="addspace" src="../../Content/images/Add1NewsEvent.jpg" />
            </div>
            <div class="span7 ">
                <img class="addspace" src="../../Content/images/Add2NewsEvent.jpg" />
            </div>
        </div>*@
</div>
<br />
<script type="text/javascript">
    $(document).ready(function () {
        $('#HajjSlide').carousel({
            interval: 2000
        }).carousel('cycle');
    }) </script> 