@using MvcPaging
@model IPagedList<HMS.Models.Package>
@using (Html.BeginForm("moc", "Home", FormMethod.Get))
{
    <div class="row-fluid">
        <div class="span6 pull-left">
            <div class="input-append">
                <input class="form-control" name="searchinfo" type="text" value="@ViewData["searchinfo"]">
                <button type="submit" class="btn">
                    <i class="icon-search"></i>&nbsp;Search</button>
            </div>
        </div>
    </div>


    
    
    <div class="row-fluid">
        @foreach (var item in Model)
        {
            <div class="span4">
                <div class="product">
                    <h2 class="text-info">
                        <img class="packagelogo" src="~/binaryObj/@item.Fk_PackageSourceId.Fk_LogoId.Id@item.Fk_PackageSourceId.Fk_LogoId.Name@item.Fk_PackageSourceId.Fk_LogoId.Extension" />
                        @Html.DisplayFor(modelItem => item.Fk_PackageSourceId.Name)
                    </h2>
                    <ul>
                        <li>@Html.DisplayFor(modelItem => item.Name)</li>
                        <li >@Html.DisplayNameFor(model => model.FirstOrDefault().Duration):<span class="price large">@Html.DisplayFor(modelItem => item.Duration) days</span> </li>
                        <li>@Html.DisplayNameFor(model => model.FirstOrDefault().Price):<span>@Html.DisplayFor(modelItem => item.PriceType)@Html.DisplayFor(modelItem => item.Price)</span></li>
                        <li> @Html.DisplayNameFor(model => model.FirstOrDefault().StartFrom): @Html.DisplayFor(modelItem => item.StartFrom)</li>
                        <li>Priority support</li>
                    </ul>
                    <p class="call-to-action">
                        <a href="#" class="btn btn-success"><i class="icon-ok"></i>Select plan</a></p>
                </div>
            </div>
            
        }
    </div>
    
    
    <div class="pager">
        @Html.Raw(Html.Pager(
                new Options
                {
                    PageSize = Model.PageSize,
                    TotalItemCount = Model.TotalItemCount,
                    CurrentPage = Model.PageNumber,
                    ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous" },
                    ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                    TooltipTitles = new TooltipTitles() { Next = "Next page {0}", Previous = "Previous page {0}", Page = "Go to page {0}" },
                    Size = Size.normal,
                    Alignment = Alignment.centered,
                    IsShowControls = true,
                    IsShowFirstLast = true,
                    IsShowPages = true
                }, new
                {
                    MemberName = ViewData["searchinfo"]

                }))
    </div>
}